* {
  box-sizing: border-box;
}

body {
  min-width: 375px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: rgba(18, 25, 32, 1);
  margin: 0;
}

h1, h2, h3, h4 {
  margin: 0;
}

h1 {
  color: #ec424b;
  font-size: 3.5rem;
}

h2 {
  color: #ffffff;
  font-size: 2.3rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.1rem;
}
/*header START*/
.header {
  height: 380px;
  opacity: 0.9;
  background: url('img/bg.jpg'), no-repeat;
  background-size: cover;
  padding: 2rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header__avatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background: url('img/avatar.png') no-repeat;
  background-size: cover;
}

.header h1 {
  margin: 20px 0;
}

/*header END*/

/*section work START*/
.projects {
  background-color: #ffffff;
  padding: 25px 50px;
  text-align: center;
}

.projects h3 {
  margin-bottom: 20px;
}

.projects__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 3em;
}
.projects__example {
  height: auto;
  display: flex;
  flex-flow: column wrap;
  /*justify-content: space-between;*/
  align-items: center;
}

.projects__example-img {
  width: 100%;
  height: 220px;
  margin: 0;
  transition: margin 0.6s linear, width 0.6s linear, height 0.6s linear,
    box-shadow 0.6s linear;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
  -webkit-transition: margin 0.6s linear, width 0.6s linear, height 0.6s linear,
    box-shadow 0.6s linear;
  -moz-transition: margin 0.6s linear, width 0.6s linear, height 0.6s linear,
    box-shadow 0.6s linear;
  -ms-transition: margin 0.6s linear, width 0.6s linear, height 0.6s linear,
    box-shadow 0.6s linear;
  -o-transition: margin 0.6s linear, width 0.6s linear, height 0.6s linear,
    box-shadow 0.6s linear;
}

.projects__example-img img {
  width: 100%;
  transition: top 2s ease-in-out;
  position: relative;
  top: 0;
  -webkit-transition: top 2s ease-in-out;
  -moz-transition: top 2s ease-in-out;
  -ms-transition: top 2s ease-in-out;
  -o-transition: top 2s ease-in-out;
}

.projects__example-img:hover {
  margin: -10px;
  width: calc(100% + 20px);
  height: 240px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.projects__example-img:hover img {
  top: -100%;
}

a.projects__title {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: rgba(18, 25, 32, 1);
  margin-top: 15px;
}
/*section work END*/
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0.9;
  background: url('img/bg_footer.jpg');
  background-size: cover;
  color: #ffffff;
  padding: 20px 50px;
  font-weight: bold;
}

.footer > div > h4 {
  margin-bottom: 10px;
}

.footer .fab {
  font-size: 24px;
  color: #ec424b;
}

.footer .fa-instagram {
  margin-left: 10px;
}

@media screen and (max-width: 767px) {
  .header {
    padding: 1.6rem 3rem;
    height: 360px;
  }
}

@media screen and (max-width: 575px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  .header__avatar {
    border-radius: 50%;
    width: 120px;
    height: 120px;
  }

  .header {
    padding: 1rem 3rem;
    height: 350px;
  }

  .footer {
   flex-flow: column wrap;
   height: 250px;
   text-align: center;
  }
}
